@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");

}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");

}

/*Color*/
:root {
  --light-white: #f2f2f2;
  --basic-white: #ffffff;
  --transparent-white: rgba(255,255,255, 0.3);
  --transparent-bg-footer: rgba(255,255,255, 0.9);
  --basic-black: #000000;
  --transparent-black: rgba(0,0,0, 0.3);
  --second-black: rgba(0,1,1, 0.2);
  --basic-blue: #81b3d2;
  --dark-blue: #669ec0;
  --extra-dark-blue: #5496bd;
  --basic-brown: #766357;
  --light-brown: #a9a9a9;
  --dark-brown: #604e43;
  --extra-dark-brown: #503e33;
  --checkbox-disable-brown: #6a6a6a;
  --basic-grey: #eeeeee;
  --light-grey: #ebebeb;
  --dark-grey: #e5e5e5;
  --bg-map: #f2f1ef;
  --transparent: transparent;
  --toggle-brown: #ababab;
}

/*Global*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding: 0 20px;
  min-height: 100vh;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: var(--light-white);
}

.btn {
  display: inline-block;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  word-break: break-all;

  border: none;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.container {
  width: 1056px;
  margin: 0 auto;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-white);
  -webkit-box-shadow: 0 0 15px 5px var(--second-black);
          box-shadow: 0 0 15px 5px var(--second-black);
}

/*header*/

.main-nav {
  position: relative;
}

.main-nav .logo {
  display: block;

  position: absolute;
  top: 0;
  left: 50%;

  width: 140px;
  height: 72px;
  margin-left: -70px;
}

.main-nav img {
  width: 140px;
  height: 72px;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav li {
  width: 240px;
  min-height: 56px;
  padding-top: 14px;
  padding-left: 72px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.main-nav li:nth-child(2) {
  margin-right: 240px;
}

.main-nav .elem-3 {
  padding-left: 76px;
}

.main-nav .elem-4 {
  padding-left: 88px;
}

.main-nav .link {
  line-height: 26px;
  font-weight: 700;

  color: var(--basic-black);
}

.main-nav .link-4 {
  word-spacing: -3px;
  letter-spacing: 1px;
}

.main-nav .link:hover {
  color: var(--basic-blue);
}

.main-nav .link:active {
  color: var(--transparent-black);
}

.main-nav .main-active {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-brown);
}

.image-wrapper {
  min-height: 508px;
  padding-top: 76px;
  margin-bottom: 60px;

  text-align: center;
  background-image: url("../img/polygon.png"),
                    url("../img/background photo.jpg");
  background-position: -1px 451px,
                        0 -56px;
  background-repeat: no-repeat;
  background-color: var(--basic-white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*advantages*/

.advantages {
  position: relative;

  z-index: 2;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-bottom: 36px;
}

.advantages .title {
  width: 449px;
  margin: 0;
  padding-left: 3px;
  margin-bottom: 14px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
}

.advantages .text {
  width: 493px;

  line-height: 26px;
  text-align: center;
  font-weight: 400;
  word-spacing: 1px;
}

.advantages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.list-advantages h3 {
  width: 130px;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 22px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.list-advantages p {
  width: 285px;
  margin: 0;
  margin-bottom: 22px;

  word-spacing: 1px;
}

.advantages .elem-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 400px;
  min-height: 256px;

  text-align: center;
}

.advantages .elem-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-advantages .advantage-wrapper {
  color: var(--basic-white);

  background-color: var(--basic-blue);
}

.elem-icon img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.elem-icon h3 {
  width: 110px;
  margin-top: 30px;

  word-wrap: break-word;
}

.list-advantages .elem-icon {
  padding-top: 61px;
  min-height: 269px;
}

.list-advantages li:nth-child(4) {
  padding-top: 56px;
}

.elem:nth-child(5) img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.elem:nth-child(5) h3 {
  width: 150px;
}

.elem:nth-child(5) p {
  width: 307px;
}

.elem-second {
  background-color: var(--basic-grey);
}

.elem-second p {
  width: 263px;
}

/*info*/

.info {
  position: relative;

  background-color: #f2f1ef;
}

.info .info-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  min-height: 265px;
  padding-top: 26px;

  background-color: var(--basic-white);

  z-index: 2;
}

.info-wrapper h2 {
  margin-bottom: 10px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.info-wrapper p {
  width: 435px;
  margin-bottom: 46px;

  line-height: 24px;
  text-align: center;
}

.info-wrapper a {
  width: 568px;
  min-height: 86px;
  padding-top: 30px;

  background-color: var(--basic-brown);
}

.info-wrapper a:hover {
  background-color: var(--dark-brown);
}

.info-wrapper a:active {
  color: var(--transparent-white);

  background-color: var(--extra-dark-brown);
}

/*modal*/

.modal {
  display: none;

  position: absolute;
  left: 25%;

  width: 568px;
  min-height: 395px;
  margin-left: 16px;

  background-color: var(--basic-white);

  -webkit-box-shadow: 0 5px 15px 5px var(--second-black);

          box-shadow: 0 5px 15px 5px var(--second-black);

  z-index: 1;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 458px;
  margin: 0 auto;
  padding-top: 55px;
}

.modal label {
  line-height: 26px;
  font-weight: 700;
  word-spacing: -1px;
}

.modal input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--light-white);

  border: 1px solid var(--transparent);

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}


.modal input:hover {
  background-color: var(--light-grey);

  border: 1px solid var(--transparent);
}

.modal input:active,
.modal input:focus {
  background-color: var(--transparent);

  border: 1px solid var(--dark-grey);
}

.modal .input-date {
  width: 308px;
  height: 38px;

  padding: 0 13px;
}

.modal .input-wrapper-1 {
  margin-bottom: 29px;
}

.modal .text-date-1 {
  margin-top: 6px;
  margin-right: 20px;
}

.modal .input-wrapper-2 {
  margin-bottom: 30px;
}

.modal .input-wrapper-1,
.modal .input-wrapper-2 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.modal .сalendar {
  position: relative;
  top: 0px;
  right: 0px;

  width: 38px;
  height: 38px;

  font-size: 0;

  background-color: var(--light-white);

  border: none;
  border-radius: 0;

}


.modal .сalendar::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;

  width: 21px;
  height: 22px;

  background-image: url("../img/calendar-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.modal .сalendar:hover::after {
  background-image: url("../img/calendar-2.png");
}


.modal .сalendar:active::after {
  background-image: url("../img/calendar-3.png");
}

.modal input:hover ~ .сalendar {
  background-color: var(--light-grey);
}

.modal .text-date-2 {
  margin-top: 6px;
  margin-right: 17px;
}

.modal .modal-word {
  letter-spacing: 1px;
}

.modal .input-number,
.modal .input-btn {
  position: relative;

  width: 38px;
  height: 38px;
  padding: 0 3px;

  text-align: center;

  background-color: var(--light-white);

  border-radius: 0;
}

.modal .input-date:focus,
.modal .input-number:focus,
.modal .input-btn:focus {
  z-index: 1;
}

.modal .input-btn {
  position: relative;

  padding: 0;

  border: none;
}

.modal .input-btn:hover {
  background-color: var(--light-grey);
}

.modal .input-btn::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: var(--light-brown);
}

.modal .input-btn-2::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  -webkit-transform: rotate(90deg);

      -ms-transform: rotate(90deg);

          transform: rotate(90deg);

  background-color: var(--light-brown);
}

.modal .input-btn:hover::before,
.modal .input-btn-2:hover::after {
  background-color: var(--basic-black);
}

.modal .input-btn:active::before,
.modal .input-btn-2:active::after {
  background-color: var(--basic-blue);
}

.input-btn span {
  font-size: 0;
}

.modal .input-wrapper-3 {
  margin-right: 52px;
}

.modal .input-wrapper-3,
.modal .input-wrapper-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 227px;

  margin-bottom: 54px;
}

.modal .input-wrapper-4 {
  width: 179px;
}

.modal .text-number-1,
.modal .text-number-2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;

  margin-right: 40px;
}

.modal .text-number-2 {
  margin-right: 28px;
}

.modal .input-btn-1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.modal .btn-find {
  width: 458px;
  min-height: 58px;
  padding-left: 5px;
  padding-right: 5px;

  word-break: break-all;

  background-color: var(--basic-blue);
}

.modal .btn-find:hover {
  background-color: var(--dark-blue);
}

.modal .btn-find:active {
  color: var(--transparent-white);

  background-color: var(--extra-dark-blue);
}

.modal-show {
  display: block;
}

.info .map-wrapper {
  position: relative;

  min-height: 473px;
}

.map-wrapper img {
  position: absolute;
}

.map-wrapper iframe {
  position: absolute;

  width: 100%;
  height: 593px;

  border: none;
}

/*footer*/
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;

  min-height: 122px;

  background-color: var(--transparent-bg-footer);
}

.page-footer .address-wrapper,
.page-footer .logo-wrapper,
.page-footer .social {
  width: 400px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.page-footer .address-wrapper {
  padding-left: 123px;
}
.page-footer .address-hotel {
  padding-left: 130px;
}

.address-wrapper p,
.address-wrapper a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
}

.address-wrapper p {
  margin-top: 0;
  margin-bottom: 6px;
}

/*social*/

.social {
  padding-top: 5px;
  padding-left: 125px;
}

.social-hotel {
  padding-top: 10px;
}

.page-footer .list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 150px;
  margin: 0;
  padding: 0;

  font-size: 0;
}

.list-social .elem {
  margin-right: 6px;
  margin-bottom: 6px;
}

.list-social .elem:nth-child(3n) {
  margin-right: 0;
}

.social .btn-social {
  display: block;

  position: relative;

  width: 46px;
  height: 48px;

  background-color: var(--basic-blue);
}

.social .btn-social:hover {
  background-color: var(--dark-blue);
}

.social .btn-social:active {
  background-color: var(--extra-dark-blue);
}

.elem .btn-social::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;

  width: 17px;
  height: 15px;

  background-image: url("../img/t.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.elem .btn-social:active::before {
  opacity: 0.3;
}

.elem:nth-child(2) .btn-social::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.elem:nth-child(3) .btn-social::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 12px;

  width: 20px;
  height: 16px;

  background-image: url("../img/youtube.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-top: -2px;
  padding-left: 102px;
}



.logo-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 200px;
  height: 41px;
}

.logo-wrapper p {
  width: 76px;
  margin: 0;
  margin-right: 6px;

  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.logo-wrapper .image-2,
.logo-wrapper .image-3 {
  display: none;
}


.logo-wrapper a:hover > .image-1 {
  display: none;
 }

 .logo-wrapper a:hover > .image-2 {
  display: block;
 }

 .logo-wrapper a:active > .image-2 {
  display: none;
 }

.logo-wrapper a:active > .image-3 {
 display: block;
}

/*filter*/

.filter {
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
  background-position: 0 -55px;
}

.filter .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 1066px;
  min-height: 190px;
  margin: 0 auto;
  padding-top: 27px;
}

.filter .filter-element {
  width: 152px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter .filter-element:nth-child(2) {
  margin-right: 298px;
  margin-left: 65px;
}

.filter .filter-element:nth-child(3) {
  width: 318px;
}

.filter-element .checkbox-wrapper {
  margin-bottom: 25px;
}

.filter-element legend {
  width: 190px;
  margin-bottom: 24px;
  padding-left: 5px;

  font-size: 16px;
  font-weight: 700;
  color: var(--basic-white);
}

.filter-element:nth-child(3) legend {
  margin-bottom: 10px;
  padding-left: 0;

  word-spacing: 1px;
}

.checkbox-wrapper label {
  position: relative;

  padding: 5px 0;
  padding-left: 45px;
  padding-right: 5px;

  color: var(--basic-white);
}

input[type=checkbox] + label::before {
  content: "";
  position: absolute;

  top: 4px;
  left: 4px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type=checkbox] + label::after {
  content: "";
  position: absolute;

  top: 4px;
  left: 4px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type=checkbox] + label::after,
input[type=checkbox]:checked + label::before,
input[type=checkbox]:checked:disabled + label::before {
  opacity: 0;
}

input[type=checkbox]:checked + label::after {
  opacity: 1;
}

input[type=checkbox]:disabled + label::before,
input[type=checkbox]:checked:disabled + label::after {
  opacity: 0.3;
}

.complex-filter .filter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  position: relative;

  margin-bottom: 20px;

  border: 2px solid var(--basic-white);
  border-radius: 3px;
}

.complex-filter .filter-input::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 158px;

  width: 2px;
  height: 22px;

  background-color: var(--basic-white);
}

.filter-input .filter-grid {
  width: 157px;
}

.filter-input .filter-grid:nth-child(2) {
  width: 154px;
}

.filter-input input {
  width: 100%;
  height: 32px;

  padding: 0;
  text-align: center;
  color: var(--basic-white);

  background-color: var(--transparent);

  border: none;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.filter-input input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-input input::-moz-placeholder {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-input input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-input input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-input input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.complex-filter .shadow-scale {
  position: relative;

  width: 317px;
  height: 2px;

  background-color: var(--transparent-white);
}

.complex-filter-wrapper {
  margin-bottom: 32px;
}

.complex-filter-wrapper .scale {
  width: 82%;
  height: 2px;

  background-color: var(--basic-white);
}

.complex-filter-wrapper .controls {
  position: relative;

  width: 317px;
}

.complex-filter-wrapper .toggle {
  position: absolute;
  top: -10px;

  width: 4px;
  height: 4px;

  background-color: var(--toggle-brown);

  border: 8px solid var(--basic-white);
  border-radius: 50%;

  -webkit-box-shadow: 0 2px 2px 0 var(--toggle-brown);

          box-shadow: 0 2px 2px 0 var(--toggle-brown);

  cursor: pointer;
}

.complex-filter-wrapper .toggle:hover {
  top: -12px;

  border-width: 10px;
}

.complex-filter-wrapper .right-toggle {
  right: 14%;
}

.complex-filter-wrapper .left-toggle {
  left: 0;
}

.complex-filter .btn-show {
  width: 137px;
  min-height: 36px;
  margin-left: 86px;

  font-size: 14px;
  line-height: 21px;

  background-color: var(--transparent);

  border: 2px solid var(--basic-white);
  border-radius: 3px;
}

.complex-filter .btn-show:hover {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

/*sort*/

.main-sort {
  min-height: 86px;

  border-bottom: 1px solid var(--dark-grey);
}

.main-sort .sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-top: 29px;


}

.main-sort .sort-text {
  margin: 0;
  margin-right: 47px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-sort .sort,
.main-sort .sort-arrows {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-sort .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 358px;
  padding-top: 7px;
  margin-right: auto;
}

.sort .sort-element {
  margin-right: 30px;
}

.sort .sort-element:nth-child(1) {
  margin-right: 40px;
}

.sort .sort-element:nth-child(2) {
  margin-right: 33px;
}

.sort .sort-element:nth-child(3) {
  margin-right: 34px;
}

.sort .sort-element:nth-child(4n) {
  margin-right: 0;
}

.sort p {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
}

.sort a,
.sort-arrows a {
  display: block;

  color: var(--basic-black);
  font-size: 12px;
  line-height: 16px;
}

.main-sort .sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 36px;
  padding-top: 10px;
}

.sort-arrows .sort-arrow-element {
  width: 11px;
  height: 10px;

  margin-right: 13px;
}

.sort-arrows .sort-arrow-element:nth-child(2n) {
  margin-right: 0;
}

.sort-arrows a {
  position: relative;
  font-size: 0;
}

.sort-arrow-element:nth-child(1) a::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  width: 11px;
  height: 10px;

  background-image: url("../img/arrows.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sort-arrow-element:nth-child(2) a::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  width: 11px;
  height: 10px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);

  background-image: url("../img/arrows.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sort-arrow-element:nth-child(1):hover .link-arrow::before,
.sort-arrow-element:nth-child(2):hover .link-arrow::after {
  background-position: -11px 0;
}

.sort-arrow-element:nth-child(1):active .link-arrow::before,
.sort-arrow-element:nth-child(2):active .link-arrow::after {
  background-position: -22px 0;
}

.sort-arrow-element .link-arrow-active::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  width: 11px;
  height: 10px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);

  background-image: url("../img/arrows.png");
  background-repeat: no-repeat;
  background-position: -22px 0;

  z-index: 1;
}

.sort-element .link-sort {
  color: var(--transparent-black);

  border-bottom: 1px dashed var(--basic-blue);
}

.sort-element .link-sort:hover {
  color: var(--basic-blue);
}

.sort-element .link-sort:active {
  color: var(--basic-black);
  border: none;
}

.sort-element .link-sort-link {
  color: var(--basic-blue);
}

/*catalog*/

.catalog .list-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  min-height: 151px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-catalog .catalog-element {
  width: 100%;

  border-bottom: 1px solid var(--dark-grey);
}

.catalog-element .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

 .catalog-element .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 260px;
  margin-right: auto;
  margin-left: 30px;
  padding-top: 25px;
}
.catalog-element img {
  width: 135px;
  height: 90px;

  margin-top: 30px;
}

.card h3,
.card p {
  margin: 0;
}

.card h3 {
  margin-bottom: 9px;

  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
}

.card .text-header {
  display: block;

  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  word-spacing: 1px;
}

.card .text-header:hover {
  color: var(--basic-blue);
}

.card .text-header:active {
  color: var(--transparent-black);
}

.card p {
  width: 116px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.card .card-controls {
  margin-bottom: 29px;
}

.card-controls .btn-more {
  width: 110px;
  min-height: 27px;
  padding-top: 3px;
  margin-left: 1px;

  font-size: 14px;
  line-height: 21px;

  background-color: var(--basic-blue);
}

.card-controls .btn-more:hover {
  background-color: var(--dark-blue);
}

.card-controls .btn-more:active {
  color: var(--transparent-white);
  background-color: var(--extra-dark-blue);
}

.card-controls .btn-booking {
  width: 142px;
  min-height: 27px;
  margin-left: 1px;
  padding-top: 3px;

  font-size: 14px;
  line-height: 21px;

  background-color: var(--basic-brown);
}

.card-controls .btn-booking:hover {
  background-color: var(--dark-brown);
}

.card-controls .btn-booking:active {
  color: var(--transparent-white);
  background-color: var(--extra-dark-brown);
}

.rating-wrapper {
  padding-top: 30px;
}

.stars-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 150px;
  margin-left: 18px;
  margin-bottom: 45px;
}

.stars-wrapper span {
  position: relative;

  width: 18px;
  height: 17px;
  margin-left: 6px;

  font-size: 0;
}

.stars-wrapper span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 17px;

  background-image: url("../img/star.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.rating-wrapper .rating {
  width: 110px;
  min-height: 25px;
  margin-left: auto;
  padding-top: 4px;
  text-align: center;

  background-color: var(--light-white);
}

.modal-show {
  display: block;
}

.modal-openshow {
  display: block;
  -webkit-animation-name: openprinter;
          animation-name: openprinter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.modal-closeshow {
  display: block;
  -webkit-transform: translateY(-395px);
      -ms-transform: translateY(-395px);
          transform: translateY(-395px);
  -webkit-animation-name: closeprinter;
          animation-name: closeprinter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes openprinter {
  0% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes openprinter {
  0% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes closeprinter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
  }
}

@keyframes closeprinter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
  }
}

.modal-error {
  -webkit-animation-name: snake;
          animation-name: snake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes snake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes snake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}